<?xml version="1.0"?>
<launch>

  <!-- Spawn RRBOT with WBC -->
  <include file="$(find pal_wbc_tutorial)/launch/rrbot_wbc.launch" />

  <!-- Pushing the reference task -->
  <node name="push_reference_pos_task_dynamic_reconfigure" pkg="pal_wbc_tutorial" type="push_reference_pos_task_dynamic_reconfigure" />

  <!-- Running rqt_reconfigure for the user to control/configure the joint angles -->
  <node name="joints_angle_dynamic_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pal_wbc_tutorial)/launch/rrbot_rviz.rviz"/>

</launch>

