<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false"/>
  <arg name="valgrind" default="false"/>
  <arg name="stack" default="rrbot_stack"/>
  <arg name="spawn" default="true"/>

  <include file="$(find pal_kinematic_simulator)/launch/kinematic_simulator_ros_control.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="valgrind" value="$(arg valgrind)"/>
    <arg name="parameters" value="--cycle_time 0.001"/> 
  </include>

  <!-- Configure wbc -->
  <rosparam command="load"
    file="$(find pal_wbc_tutorial)/config/$(arg stack).yaml" />

  <!-- Upload RRBOT robot -->
  <include file="$(find rrbot_robot)/launch/upload_robot.launch"/>

  <!-- Configure RRBOT robot -->
  <include file="$(find rrbot_robot)/launch/controllers_configuration.launch">
    <arg name="controller_name" value="whole_body_kinematic_controller"/>
  </include>

  <!-- Spawn controller -->
  <group if="$(arg spawn)">
    <node name="wbc_controllers_spawner" pkg="controller_manager" type="spawner" output="screen" args="whole_body_kinematic_controller" />
  </group>

</launch>